<div id="mySidenav" class="sidenav">

    <div>
        <div class="Menu">

            <section class="fsElement fsNavigation fsList nav-utility-mobile" id="fsEl_2502" data-use-new="true">

                <header class="d-flex justify-content-between mx-3">

                    <div>
                        <figure class="fsImage">
                            <picture><img alt="Bharti Public School" src="./logo.png"></picture>
                        </figure>
                    </div>

                    <div class="my-2"> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                        <i class="fa fa-times fa-2x text-white"></i>
                    </a></div>

                </header>
            </section>
            <div class="accordion mx-4 my-4" id="sideBarAccourdian">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h4 class="d-flex justify-content-between mb-0">
                            <button class="btn text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        QuickLinks
                      </button>
                            <button class="btn text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-chevron-down fa-xs"></i>
                      </button>

                        </h4>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#sideBarAccourdian">
                        <div class="card-body">
                            <ul class="list-unstyled mx-3">
                                <li> <a class="dropdown-item" href="#">Forms & Certificates</a></li>
                                <li> <a class="dropdown-item" href="#">BPS Bulletin</a></li>
                                <li> <a class="dropdown-item" href="#">Admission Handbook</a></li>
                                <li> <a class="dropdown-item" href="#">Employment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <% Menu.forEach(function(menu){ %>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h4 class="d-flex justify-content-between mb-0">
                                <a href="<%= menu.menu_href %>" class="btn text-white">
                                    <%= menu.menu_item %>
                                </a>
                                <button class="btn text-white collapsed"  data-toggle="collapse" data-target="#<%= menu.menu_item %>" aria-expanded="false" aria-controls="<%= menu.menu_item %>">
                            <i class="fa fa-chevron-down fa-xs"></i>
                          </button>
    
                            </h4>
                        </div>
                        <div id="<%= menu.menu_item %>" class="collapse" aria-labelledby="<%= menu.menu_item %>" data-parent="#sideBarAccourdian">
                            <div class="card-body">
                                <ul class="list-unstyled mx-3">
                                    <% menu.submenu.forEach(function(item, index){ %>

                                      
                                            <li> <a class="dropdown-item" href="<%= item.menu_link %>">  <%= item.sub_menu_item %></a></li>
                                              
                                          
                                 
                
                                        <% }); %>
                                  
                                         </ul>  </div>
                        </div>
                    </div>
                 

                        <% }); %>
              
           
            </div>


        </div>


    </div>
</div>