<!-- <section class="text-center m-5">
    <h1 style="
    font-size: 40px;
    text-transform: uppercase;"  class="my-4" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-offset="0"><span>  <%= fold2.fold2_title_start %> </span><br> <%= fold2.fold2_title_end %></h1>
    <p  style="font-family: 'sofiaPro'; font-size: 18px;" class="my-5" data-aos="fade-right" data-aos-duration="2000">
        <%= fold2.fold2_text %>
    </p>
    <h5 class="my-5" data-aos="fade-left" data-aos-duration="2000">
        <a style="text-decoration: none;" href="<%= fold2.fold2_link.link_href %>"><%= fold2.fold2_link.link_title %></a></h5>
</section> -->


<!--  -->
<% if (fold2.fold2_bg.formats.large) { %>
    <div id="fold_2" class="_fold_2"
                 style="background-image: url('<%= env + fold2.fold2_bg.formats.large.url %>');
                        background-repeat: no-repeat;
                        background-size: 400px 200px;
                        background-position: center;">
  <% }  else if (fold2.fold2_bg.formats.medium) { %>
    <div id="fold_2" class="_fold_2"
    style="background-image: url('<%= env + fold2.fold2_bg.formats.medium.url %>');
           background-repeat: no-repeat;
           background-size: 400px 200px;
           background-position: center;">
  
<% } else if(fold2.fold2_bg.formats.small) {%>
    <div id="fold_2" class="_fold_2"
    style="background-image: url('<%= env + fold2.fold2_bg.formats.small.url %>');
           background-repeat: no-repeat;
           background-size: 400px 200px;
           background-position: center;">
    
    <% }  else if(fold2.fold2_bg.formats.thumbnail) {%>
        <div id="fold_2" class="_fold_2"
        style="background-image: url('<%= env + fold2.fold2_bg.formats.thumbnail.url %>');
               background-repeat: no-repeat;
               background-size: 400px 200px;
               background-position: center;">
        <% }  else {%>
            <div id="fold_2" class="_fold_2"
            style="background-image: url('./assets/INFINITYSIGN.png');
                   background-repeat: no-repeat;
                   background-size: 400px 200px;
                   background-position: center;">
    
        <% } %>
    

    <div style="z-index: 1;" class="d-flex justify-content-center align-items-center">
        <section class="text-center m-5">
            <!-- <section></section> -->
            <h1 style="
            font-size: 40px;
            text-transform: uppercase;"  class="my-4" data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-offset="0"><span> <%= fold2.fold2_title_start %></span><br> <%= fold2.fold2_title_end %></h1>
            <p  style="font-family: 'sofiaPro'; font-size: 18px;" class="my-5" data-aos="fade-right" data-aos-duration="2000">  
                      <%= fold2.fold2_text %>
            </p>
            <h5 class="my-5" data-aos="fade-left" data-aos-duration="2000">
                <a style="text-decoration: none;" href="<%= fold2.fold2_link.link_href %>"><%= fold2.fold2_link.link_title %></a></h5>
        </section>
    </div>
    <div style="position: absolute; z-index: -1;" id="box2" data-scroll-speed="20"></div>
</div>