<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharti Public School</title>
    <link rel="icon" type="image/jpeg" href="/icon.jpeg"/>
    <link rel="stylesheet" href="css/commonStyle.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/topnavbar.css">
    <link rel="stylesheet" href="css/dropdownhover.css">
    <link rel="stylesheet" href="css/fold2.css">
    <link rel="stylesheet" href="css/fold3.css">
    <link rel="stylesheet" href="css/fold4.css">
    <link rel="stylesheet" href="css/fold5.css">
    <link rel="stylesheet" href="css/fold6.css">
    <link rel="stylesheet" href="css/foldFooter.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"></script>
    <style>
        :root {
            --grey: #363E47;
            --blue: #28295d;
            --green: #62a25d;
            --yellow: rgb(255, 210, 29);
            --orange: #df682d;
        }

        .header-brand {
            position: absolute;
            width: 9rem;
            height: 7rem;
            margin-top: 0.25rem;
        }

        .header-brand-sticky {
            width: 9rem;
            height: 4rem;
            margin-top: 0.25rem;
        }

        .body-wrap {
            overflow: hidden;
            position: relative;
            margin: 0;
        }

        @media screen and (min-width: 768px) {
            .body-wrap {
                margin: 0.75rem;
            }

            .header-brand {
                width: 10rem;
                height: 6rem;
            }

            .header-title-text h1 {
                /* padding-top: 1rem !important; */
                font-size: 7vw !important;
                /* font-size: 85px; */
                height: 15rem;
                line-height: 20px;
                color: #fff;
                letter-spacing: 10px;
            }
        }

        .bpsHomeVideoContainer {
            position: relative;
            width: 100%;
            max-height: 100vh;
            overflow: hidden;
            object-fit: cover;
        }

        .body-wrap .bpsHomeVideoContainer video {
            object-fit: cover;
            display: block;
            min-height: 100vh;
            /* //change */
            min-width: 100%;
            width: auto;
            max-height: none;
            max-width: none;
            backface-visibility: hidden;
            perspective: 1000;
        }

        .home-wrap-container {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            /* align-items: flex-end; */
        }

        .title-strip {
            -webkit-animation-name: mymove;
            animation-name: mymove
        }

        .header-title-text h1 {
            font-size: 10vw;
            padding-top: 10rem;
        }

        @keyframes mymove {
            0% {
                opacity: 0;
                filter: blur(10px);
                transform: scaleX(1.75);
            }

            100% {
                opacity: 1;
                filter: blur(0);
                transform: scaleX(1);
            }
        }

        /* button.explore {
            cursor: pointer;
            padding: 0.81429em 2.07143em;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 0.875em;
            text-transform: uppercase;
            background: #363E47;
            border: 0;
            box-shadow: inset 0 0 0 0.14286em transparent;
            color: #fff;
            font-weight: 700;
            transition: background 0.3s, box-shadow 0.3s, color 0.3s;
        } */

        /* button.explore span::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            -moz-transform-origin: left;
            transform-origin: left;
        }

        button.explore:hover {
            background: var(--blue);
        } */

        .loading span {
            width: 25px;
            height: 25px;
            margin: 0 5px;
            background-coLor: #000;
            border-radius: 50%;
            display: inline-block;
            animation-name: dots;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        .loading :nth-child(2) {
            background-coLor: #000;
            animation-delay: 0.4s;
        }




        #box3 {
            right: 0;
            bottom: 1100px;
            height: 40vw;
            width: 60vw;
            background: linear-gradient(-45deg, #f7f7f7 50%, transparent 50%);
        }

        #box2 {
            left: 0;
            top: 700px;
            height: 80vw;
            width: 60vw;
            background: linear-gradient(45deg, #f7f7f7 50%, transparent 50%);
        }

        @media screen and (max-width:622px) {
            #box2 {
                top: 1300px;
            }
        }
    </style>
</head>

<body>
    <%- include('shared/sidebar', { Menu: common.header_menu }); %>
    <%- include('shared/header', { Menu: common.header_menu }); %>
    <%- include('shared/stickyHeader', { Menu: common.header_menu }); %>

    <div class="body-wrap">

        <div class="home-wrap-container align-items-lg-end align-items-center">
            <div class="text-center">
                <header class="header-title-text mb-5">
                    <h1 class="text-white fadeInUp delay-2s animated fast"> <%= data.homeVideo.heading  %></h1>
                    <div class="expore-btn  delay-3s animated">
                        <a href="explore-campus"
                            style="letter-spacing: 3px; box-shadow: inset 0 0 0 0.14286em transparent;"
                            class="btn btn-outline-light rounded-0 explore-animation"><span> EXPLORE CAMPUS</span></a>
                    </div>
                    <div class="arrow mb-3 bounce">
                        <a style="cursor: pointer;" onclick="gotoPos()">
                            <!-- <i class="fa fa-angle-double-down fa-3x text-white" aria-hidden="true"></i> -->
                            <img width="100%" src="./assets/down.png" alt="">
                        </a>

                    </div>

                </header>
            </div>

        </div>
        <div id="_fold_1_media" class="_fold_1 bpsHomeVideoContainer delay-1s fadeIn animated">
            <video loop autoplay id="home_media" width="100%" muted
                src="<%= env + data.homeVideo.titleVideo.url %>"></video>
            <div></div>
        </div>

        <%- include('elements/fold2', {fold2: data.BPS_PRIDE }); %>

        <div class="_fold_3">
            <div class="d-flex flex-wrap">

                <% data.Fold3.forEach(function(card){ %>

                <%- include('elements/fold3', {card: card}); %>

                <% }); %>

            </div>
            <!-- <div style="position: absolute; z-index: -1;" id="box3" data-scroll-speed="6"></div> -->
        </div>


        <div data-aos="fade-up" data-aos-duration="2000" class="_fold_4">
            <section>
                <header class="my-5" data-aos="fade-down">
                    <h1 class="text-center pb-5">
                        <%= data.Fold4_title.title %>
                    </h1>
                </header>
                <div class="statistics-slider">
                    <% data.Fold4.forEach(function(card){ %>

                    <%- include('elements/fold4', {card: card}); %>

                    <% }); %>


                </div>
            </section>

        </div>
        <section class="_fold_6"
            style=" background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)), url('<%= env + handler.mediaSelection(data.newsAnnouncement_title_with_bg.background, quality) %>');">
            <header class="mt-5 mb-4 py-3">
                <div class="u-line-center-white pt-4">
                    <h3 class="text-center text-white f-40">
                        <%=  data.newsAnnouncement_title_with_bg.title %>

                    </h3>
                </div>

            </header>
            <div style="width: 99%;" class="d-flex mx-auto news-annuncement">

                <% data.NewsAndAnnouncement.forEach(function(card){ %>

                <%- include('elements/newsAnnouncement', {card: card}); %>

                <% }); %>



            </div>
        </section>
        <section class="_fold_5">
            <header class="mt-5 mb-5">
                <h1 class="text-center">Our Story</h1>
            </header>
            <section class="slick-timeline-dots">
                <div class="timeline">
                    <div class="dots-container">
                        <div class="events">
                            <ol style="list-style: none;">
                                <% data.StoryTimeline.forEach(function(card, index){ %>
                                <% if (index != 0) { %>
                                <li><a id="<%= index %>" href="#<%= index %>"
                                        data-date="<%= card.Year %>"><%= card.Year %></a></li>
                                <% } else {%>
                                <li><a id="<%= index %>" href="#<%= index %>" data-date="<%= card.Year %>"
                                        class="selected"> <%= card.Year %></a></li>
                                <% } %>

                                <% }); %>
                            </ol>

                            <span class="filling-line" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="slick-timeline-dots">
                <div class="timeline">
                    <div class="dots-container">
                        <div class="events">
                            <ol style="list-style: none;">

                                <li><a id="0" href="#0" data-date="16/01/2014" class="selected">1980</a></li>
                                <li><a id="1" href="#0" data-date="28/02/2014">1981</a></li>
                                <li><a id="2" href="#0" data-date="20/04/2014">1995</a></li>
                                <li><a id="3" href="#0" data-date="20/05/2014">1998</a></li>
                                <li><a id="4" href="#0" data-date="09/07/2014">2004</a></li>
                                <li><a id="5" href="#0" data-date="30/08/2014">2005</a></li>
                                <li><a id="6" href="#0" data-date="15/09/2014">2009</a></li>
                                <li><a id="7" href="#0" data-date="01/11/2014">2013</a></li>
                                <li><a id="8" href="#0" data-date="10/12/2014">2019</a></li>
                                <li><a id="9" href="#0" data-date="19/01/2015">2020</a></li>

                            </ol>

                            <span class="filling-line" aria-hidden="true"></span>
                        </div>
                    </div> 
                </div>
            </section> -->


            <div id="richHistory" class="d-flex richHistory">
                <% data.StoryTimeline.forEach(function(card){ %>

                <%- include('elements/story', {card: card}); %>
                <% }); %>
            </div>




            <div class="d-flex justify-content-center">
                <a style="cursor: pointer;" class="m-2 text-dark timeline-prev">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a style="cursor: pointer;" class="m-2 text-dark timeline-next">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>

        </section>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <%- include('shared/footer', {footer: common.footer}); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="js/sidebar.js">

    </script>
    <script>
        // gsap.from(".dropdown-item", {
        //     duration: 0.5,
        //     scale: 0.5,
        //     opacity: 0,
        //     delay: 0.2,
        //     stagger: 0.1,
        //     ease: "elastic",
        //     force3D: true
        // });
        (function () { a = { _b: 0, c: function () { this._b++; return this.b; } }; HTMLElement.prototype.pseudoStyle = function (d, e, f) { var g = "pseudoStyles"; var h = document.head || document.getElementsByTagName('head')[0]; var i = document.getElementById(g) || document.createElement('style'); i.id = g; var j = "pseudoStyle" + a.c(); this.className += " " + j; i.innerHTML += " ." + j + ":" + d + "{" + e + ":" + f + "}"; h.appendChild(i); return this; }; })();
        gsap.set(".explore-animation", {
            scale: 0.1,
            opacity: 0,
            y: -60,
        })
        gsap.to(".explore-animation", 1, {
            scale: 1,
            opacity: 1,
            y: 0,
            ease: "power1.inOut",
            delay: 1,
        });
    </script>

    <script>

        let scrollyArrow = document.getElementById('fold_2');
        function gotoPos() {
            window.scroll({
                behavior: 'smooth',
                left: 0,
                top: scrollyArrow.offsetTop
            });
        }
        function updateFilling(filling, index) {
            //change .filling-line length according to the selected event
            var scaleValue = (126 * (index + 1)) / 1200;
            setTransformValue(filling.get(0), 'scaleX', scaleValue);
        }

        function setTransformValue(element, property, value) {
            element.style["-webkit-transform"] = property + "(" + value + ")";
            element.style["-moz-transform"] = property + "(" + value + ")";
            element.style["-ms-transform"] = property + "(" + value + ")";
            element.style["-o-transform"] = property + "(" + value + ")";
            element.style["transform"] = property + "(" + value + ")";
        }
        function getIndex(index) {
            var timeline = $('.richHistory');
            // console.log($(this));
            let filling_element = timeline.find('.filling-line');
            updateFilling(filling_element, index);

        }

        (function ($) {
            $(document).ready(function () {
                var timelineLength = parseInt('<%=data.StoryTimeline.length %>');
                let timeLine = [];
                '<% data.StoryTimeline.forEach(function(card){ %>'
                timeLine.push(parseInt('<%= card.Year %>'));

                '<% }); %>'

                $('.richHistory').slick({

                    nextArrow: $('.timeline-next'),
                    prevArrow: $('.timeline-prev'),
                    slidesToShow: 3,
                    dots: true,
                    centerMode: true,
                    variableWidth: true,
                    centerPadding: '100px',
                    customPaging: function (slick, index) {
                        return `<span id="time${index}" >` + (timeLine[index]) + '</span>';
                        // <a onclick="getIndex(${index})" data-date="${timeLine[index]}">${timeLine[index]}</a>
                        // ;
                    },
                    responsive: [{
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }, {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '100px',
                            slidesToShow: 1
                        }
                    }]
                });

                var timeline = $('.richHistory');
                let filler = timeline.find('.slick-dots');
                filler.append(' <span id="filling-line" class="filling-line" aria-hidden="true"></span>');
                var filling_element = timeline.find('.filling-line');
                let spans = filler.find('span');

                filler.on('click', 'span', function (event) {
                    console.log("xxyyzz", event.target.id);
                    event.preventDefault();
                    spans.removeClass('selected');
                    $(this).addClass('selected');
                    // updateOlderEvents($(this));

                    updateFilling(filling_element, Number(event.target.id));
                    // updateVisibleContent($(this), dotComponent['eventsContent']);
                });

                updateFilling(filling_element, 0);


                $('.statistics-slider').slick({
                    effect: 'cube',
                    cubeEffect: {
                        slideShadows: false,
                    },
                    // dots: true,
                    infinite: false,
                    nextArrow: $('#Next'),
                    speed: 300,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    }, {
                        breakpoint: 600,
                        settings: {
                            dots: true,
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    }, {
                        breakpoint: 480,
                        settings: {
                            dots: true,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                    ]
                });

                $('.news-annuncement').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    arrows: true,
                    prevArrow: '<a class="slide-arrow prev-arrow"><i class="fa fa-long-arrow-left text-white" aria-hidden="true"></i></a>',
                    nextArrow: '<a class="slide-arrow next-arrow"><i class="fa fa-long-arrow-right text-white" aria-hidden="true"></i></a>',
                    // dots: true,
                    responsive: [{
                        breakpoint: 1120,
                        settings: {
                            arrows: true,
                            slidesToShow: 2,
                            slidesToScroll: 2,
                        }
                    }, {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                        }
                    }]
                });

            });
        })(jQuery);



    </script>


    <script>
        $.fn.moveIt = function () {
            var $window = $(window);
            var instances = [];

            $(this).each(function () {
                instances.push(new moveItItem($(this)));
            });

            window.addEventListener('scroll', function () {
                var scrollTop = $window.scrollTop();
                instances.forEach(function (inst) {
                    inst.update(scrollTop);
                });
            }, {
                passive: true
            });
        }

        var moveItItem = function (el) {
            this.el = $(el);
            this.speed = parseInt(this.el.attr('data-scroll-speed'));
        };

        moveItItem.prototype.update = function (scrollTop) {
            this.el.css('transform', 'translateY(' + -(scrollTop / this.speed) + 'px)');
        };

        // Initialization
        $(function () {
            $('[data-scroll-speed]').moveIt();
        });
    </script>
    <script>
        // AOS.init();
        // below listed default settings
        AOS.init({
            // Global settings:
            disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
            startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
            initClassName: 'aos-init', // class applied after initialization
            animatedClassName: 'aos-animate', // class applied on animation
            useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
            disableMutationObserver: false, // disables automatic mutations' detections (advanced)
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            offset: 120, // offset (in px) from the original trigger point
            delay: 0, // values from 0 to 3000, with step 50ms
            duration: 500, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: true, // whether animation should happen only once - while scrolling down
            mirror: false, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

        });
        window.onscroll = function () {
            myFunction()
        };

        // Get the header
        var header = document.getElementById("myHeader");
        var videoContent = document.getElementById('_fold_1_media')
        console.log(window.pageYOffset);
        // Get the offset position of the navbar
        var sticky = videoContent.offsetHeight;

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.remove("header-out");
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
                header.classList.add("header-out");
            }
        }
    </script>
    <script>

        jQuery(document).ready(function ($) {
            var timelines = $('.slick-timeline-dots'),
                eventsMinDistance = 100;

            (timelines.length > 0) && initTimeline(timelines);

            function initTimeline(timelines) {
                timelines.each(function () {
                    var timeline = $(this),
                        dotComponent = {};
                    //cache timeline components 
                    dotComponent['timelineWrapper'] = timeline.find('.dots-container');
                    dotComponent['eventsWrapper'] = dotComponent['timelineWrapper'].children('.events');
                    dotComponent['fillingLine'] = dotComponent['eventsWrapper'].children('.filling-line');
                    dotComponent['timelineEvents'] = dotComponent['eventsWrapper'].find('a');
                    dotComponent['timelineDates'] = dotComponent['timelineEvents'];
                    if (window.innerWidth > 1000) {
                        eventsMinDistance = window.innerWidth / (dotComponent['timelineDates'].length + 1);
                        eventsMinDistance -= 5;
                    }



                    for (i = 0; i < dotComponent['timelineDates'].length; i++) {
                        dotComponent['timelineEvents'].eq(i).css('left', (i + 1) * eventsMinDistance + 'px');
                    }
                    //assign a width to the timeline
                    var timelineTotWidth = setTimelineWidth(dotComponent, eventsMinDistance);


                    dotComponent['eventsWrapper'].on('click', 'a', function (event) {
                        event.preventDefault();
                        dotComponent['timelineEvents'].removeClass('selected');
                        $(this).addClass('selected');
                        document.getElementById(`time${event.target.id}`).click();
                        // updateOlderEvents($(this));
                        updateFilling($(this), dotComponent['fillingLine'], timelineTotWidth);
                        // updateVisibleContent($(this), dotComponent['eventsContent']);
                    });

                    $('.timeline-next').on('click', (event) => {
                        console.log(document.getElementById(`${$('a.selected')[0].id}`));
                        document.getElementById(`${(Number($('a.selected')[0].id) + 1) % parseInt('<%=data.StoryTimeline.length %>')}`).click();
                        // console.log($('a.selected')[0].id);
                    })
                    $('.timeline-prev').on('click', (event) => {
                        console.log(document.getElementById(`${$('a.selected')[0].id}`));
                        let number = Number($('a.selected')[0].id) - 1;
                        if (number < 0) {
                            number = parseInt('<%=data.StoryTimeline.length %>') - 1;
                        }
                        document.getElementById(`${number % 10}`).click();

                    })


                });
            }



            function updateFilling(selectedEvent, filling, totWidth) {
                //change .filling-line length according to the selected event
                var eventStyle = window.getComputedStyle(selectedEvent.get(0), null),
                    eventLeft = eventStyle.getPropertyValue("left"),
                    eventWidth = eventStyle.getPropertyValue("width");
                eventLeft = Number(eventLeft.replace('px', '')) + Number(eventWidth.replace('px', '')) / 2;
                var scaleValue = eventLeft / totWidth;
                setTransformValue(filling.get(0), 'scaleX', scaleValue);
            }

            function setTimelineWidth(dotComponent, width) {

                let totalWidth = (dotComponent['timelineDates'].length + 1) * width;
                dotComponent['eventsWrapper'].css('width', totalWidth + 'px');
                updateFilling(dotComponent['timelineEvents'].eq(0), dotComponent['fillingLine'], totalWidth);
                console.log(dotComponent['timelineDates'].length);
                return totalWidth;
            }


            function setTransformValue(element, property, value) {
                element.style["-webkit-transform"] = property + "(" + value + ")";
                element.style["-moz-transform"] = property + "(" + value + ")";
                element.style["-ms-transform"] = property + "(" + value + ")";
                element.style["-o-transform"] = property + "(" + value + ")";
                element.style["transform"] = property + "(" + value + ")";
            }


        });
    </script>


</body>

</html>