<%- include('shared/headermeta'); %>
    <script src="mcparallax.min.js"></script>
    <link rel="stylesheet" href="css/commonStyle.css">
    <link rel="stylesheet" href="css/refined.css">
    <link rel="stylesheet" href="css/topnavbar.css">
    
    <link rel="stylesheet" href="css/card-overlay.css">
    <link rel="stylesheet" href="css/dropdownhover.css">
    <link rel="stylesheet" href="css/foldFooter.css">

    <style>
        .header-underline h5:before {
            content: '';
            background: #56a0d3;
            width: 57px;
            height: 2px;
            position: absolute;
            bottom: 85px;
            transform: translateX(200%);
        }
        
        .jumbotron .overlay {
            position: absolute;
            top: 0.75rem;
            width: calc(100% - 1.5rem);
            height: 550px;
            background-color: rgba(0, 0, 0, 0.1);
            background-image: linear-gradient(to top, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 23%) 10%, rgb(0 0 0 / 27%) 30%, rgb(0 0 0 / 50%) 70%, rgb(0 0 0 / 50%) 90%, rgb(0 0 0 / 52%) 100%);
        }
        .quote-inline p {
            display: inline;
        }
        @media screen and (max-width: 768px) {
            .jumbotron .overlay {
                width: 100%;
                top: 0;
            }
        }
    </style>
</head>

<body>
    
    <%- include('shared/sidebar', { Menu: common.header_menu }); %>
    <%- include('shared/header', { Menu: common.header_menu }); %>
    <%- include('shared/stickyHeader', { Menu: common.header_menu }) %>
    <div class="body-wrap">
        <div style="background-image: url('<%= env + handler.mediaSelection(data.page_bg, quality)%>');
    background-size: cover; background-position: center top;"
            class="jumbotron text-white custom-jumbotron d-flex justify-content-center align-items-end">
            <div class="overlay"></div>
            <h1 style="z-index: 1; font-size: 7vw; line-height: 20px;
       letter-spacing: 10px;">
                <%= handler.safeView(data, 'page_title')%>
            </h1>
        </div>
        <nav class="nav justify-content-center d-md-flex flex-row d-none py-2 bg-light">
            <% common.header_menu[3].submenu.forEach(function(item, index){ %>
    
            <a href="<%= item.menu_link %>" class="nav-link text-center p-1 m-1 <%= index == 1 ? "active" : "" %>">
                <%= item.sub_menu_item %>
            </a>
            <% }); %>
        </nav>
    </div>

    <div class="contain">
        <div class="my-5">
            <section class="my-5">
                <div class="u-line-center">
                    <h3 class="text-center f-40">
                        <%= handler.safeView(data.fold2, 'card_title') %>     
                    </h3>
                </div>
             
            </section>
            <div class="d-flex flex-column flex-md-row">
                <div style="flex:6;" class="text-justify text-muted f-18">
                    <%- md.render(data.fold2.card_text) -%>
                </div>
                <div style="flex:5; order: 1;" class="text-center mx-0 ml-md-4 mb-3">
                    <div class="col my-2 my-md-0">
                        <div class="d-flex flex-column justify-content-center h-100">
                            <div class="row justify-content-center">
                                <% let length = data.fold2.card_img.length >= 3? 3: data.fold2.card_img.length
                                    for( let i = 0; i < length; i++ ) { %>
                                    <div class="col align-self-end 
                                        <% if( i == 1) { %>
                                            p-0 
                                        <% } %>">
                                        <img src="<%= env + handler.mediaSelection(data.fold2.card_img[i], quality) %>" style="width:100%">
                                    </div>
                                <% } %>
                                
                            </div>
                            <div class="row m-1 justify-content-center">
                                <% for( let i = 3; i < data.fold2.card_img.length; i++ ) { %>
                                    <div class="col ">
                                        <img src="<%= env + handler.mediaSelection(data.fold2.card_img[i], quality) %>" style="width:100%">
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="my-3">
                <p class="text-justify f-18">
                    <%= handler.safeView(data.fold2, 'card_extra')%>
                </p>
            </div>
        </div>
        <div class="row">
            <% for(var i=0; i < data.fold3.length; i++) { %>
                <div class="col-md-4 px-3 my-4">
                    <div class="img-container">
                        <div class="card-overlay"
                            style="background-image: url('<%= env + handler.mediaSelection(data.fold3[i].img, quality) %>');">
                            <div class="pop-btn-text">
                                <section>
                                    <h4> <%= data.fold3[i].title %> </h4>
                                </section>
                                <footer>
                                    <div class="">
                                        <%- md.render(data.fold3[i].text) -%>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>            
        </div> 

        <div class="row my-5">
            <div class="col-md-6 mb-2">
                <img class="w-100" src="<%= env + handler.mediaSelection(data.fold4.card_img, quality)%>" alt="">
            </div>
            <div class="col-md-6">
                <div class="u-line">
                    <h3>
                        <%= handler.safeView(data.fold4, 'card_title') %>
                    </h3>
                </div>
                <div class="text-muted text-justify f-18">
                    <%- md.render(data.fold4.card_text) -%>
                </div>  
            </div>        
        </div> 
        <div>
            <div class="">
                <div class="d-flex justify-content-center my-5">
                    <div class="text-center">
                        <img class="rounded-circle" width="100" height="100" 
                        src="<%= env + handler.mediaSelection(data.fold5.img, quality)%>" alt="">
                     </div>
                     <div class="py-4 pl-4">
                         <p><%= handler.safeView(data.fold5, 'title') %><br>
                            <b><%= handler.safeView(data.fold5, 'subtitle') %></b> </p>
                     </div>
                </div>
              
                <div class=" f-20 my-5 mx-0 mx-md-5">
                    <h3 class="font-weight-bold text-center f-20 quote-inline" style="line-height: 2rem;">
                        <span style="color: var(--green);" class="f-40">“</span>
                         <%- md.render(data.fold5.text) -%>
                         <span style="vertical-align: text-top; color: var(--green);" class="f-40">” </span>
                        </h3>
                </div>
    
            </div>
        </div>

        <div  class="d-flex flex-column justify-content-center  flex-md-row justify-content-md-around">
            <% for( let index = 0; index < data.buttons.length; index++ ) { %>
                <a  class="btn explore" href="<%= handler.safeView(data.buttons, 'btn_href', index) %> ">
                     <%= handler.safeView(data.buttons, 'btn_name', index) %> </a>
            <% } %>          
        </div>

     

    </div>
    <%- include('shared/footer', {footer: common.footer}); %>
   
</body>

</html>