<%- include('shared/headermeta'); %>
<link rel="stylesheet" href="css/refined.css">
<link rel="stylesheet" href="css/topnavbar.css">

<link rel="stylesheet" href="css/card-overlay.css">
<link rel="stylesheet" href="css/dropdownhover.css">
<link rel="stylesheet" href="css/foldFooter.css">
<title>I am ejs</title>
<style>
    .header-underline h5:before {
        content: '';
        background: #56a0d3;
        width: 57px;
        height: 2px;
        position: absolute;
        bottom: 85px;
        transform: translateX(200%);
    }



    .jumbotron .overlay {
        position: absolute;
        top: 0.75rem;
        width: calc(100% - 1.5rem);
        height: 550px;
        background-color: rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(to top, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 23%) 10%, rgb(0 0 0 / 27%) 30%, rgb(0 0 0 / 50%) 70%, rgb(0 0 0 / 50%) 90%, rgb(0 0 0 / 52%) 100%);

    }

    @media screen and (max-width: 768px) {
        .jumbotron .overlay {
            width: 100%;

            top: 0;
        }
    }
</style>
</head>

<body>
    <%- include('shared/sidebar', { Menu: common.header_menu }); %>
    <%- include('shared/header', { Menu: common.header_menu }); %>
    <%- include('shared/stickyHeader', { Menu: common.header_menu }) %>
    <div class="body-wrap">
        <div style="background-image: url('<%= env + handler.mediaSelection(data.page_bg, quality)%>');
    background-size: cover; background-position: center top;"
            class="jumbotron text-white custom-jumbotron d-flex justify-content-center align-items-end">
            <div class="overlay"></div>
            <h1 style="z-index: 1; font-size: 7vw; line-height: 20px;
       letter-spacing: 10px;">
                <%= handler.safeView(data, 'page_title') %>

            </h1>
        </div>
        <nav class="nav justify-content-center d-md-flex flex-row d-none py-2 bg-light">
            <a href="life-at-bps.html" class="nav-link text-center p-1 m-1">Life At BPS</a>
            <a href="athletics.html" class="nav-link text-center p-1 m-1">Athletics</a>
            <a href="community-outreach.html" class="nav-link text-center p-1 m-1">Community Outreach</a>
            <a href="outdoor-education.html" class="nav-link text-center p-1 m-1">Outdoor Education</a>
        </nav>
    </div>

    <div class="contain">
        <div class="my-5">
            <section class="my-5">
                <div class="u-line-center">
                    <h3 class="text-center f-40">
                        <%=  handler.safeView(data.fold2, 'card_title') %>
                    </h3>
                </div>

            </section>
            <div class="d-flex flex-column flex-md-row">


                <div style="flex:6;" class="text-justify f-18">
                    <%- md.render(String(handler.safeView(data.fold2, 'card_text'))) -%>

                </div>
                <div style="flex:5; order: 1;" class="text-center mx-0 ml-md-4 mb-3">
                    <div class="col my-2 my-md-0">
                        <div class="d-flex flex-column justify-content-center h-100">

                            <img src="<%= env + handler.mediaSelection(handler.safeView(data.fold2, 'card_img',0), quality) %>"
                                alt="<%= handler.safeView(handler.safeView(data.fold2, 'card_img',0), 'alternativeText', 0)  %>"
                                style="width:100%">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="my-3">
            <div class="text-justify f-18">
                <%- md.render(String(handler.safeView(data.fold2, 'card_extra'))) -%>
            </div>
        </div>

        <div class="row">
            <% for(var i=0; i < data.fold3.length; i++) { %>
                <div class="col-md-4 px-3 my-4">
                    <div class="img-container">
                        <div class="card-overlay"
                            style="background-image: url('<%= env + handler.mediaSelection(data.fold3[i].img, quality) %>');">
                            <div class="pop-btn-text">
                                <section>
                                    <h2> <%= handler.safeView(data.fold3, 'title', i) %> </h2>
                                </section>
                                <footer>
                                    <div class="">
                                        <%- md.render(handler.safeView(data.fold3, 'text', i)) -%>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div> 
        <div>
            <div class="my-3">
                <h2 style="letter-spacing: 4px;" class="text-blue">
                    <%=  handler.safeView(data.jobs_heading, 'title') %>
                </h2>
            </div>
            <ul class="nav faculty-tabs">

                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#faculty" role="tab"
                        aria-controls="home" aria-selected="true">Faculty</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="home"
                        aria-selected="true">Support Staff</a>
                </li>
            </ul>

            <div class="my-5">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="faculty" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="">
                            <%- md.render(handler.safeView(data, 'faculty_tab')) -%>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade " id="staff" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a class="text-muted" href=""><i class="fa fa-file-text mr-2"
                                            aria-hidden="true"></i>Cras justo odio</a></li>
                                <li class="list-group-item">
                                    <a class="text-muted" href=""><i class="fa fa-file-text mr-2"
                                            aria-hidden="true"></i>Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="text-muted" href=""><i class="fa fa-file-text mr-2"
                                            aria-hidden="true"></i>Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="text-muted" href=""><i class="fa fa-file-text mr-2"
                                            aria-hidden="true"></i>Cras justo odio</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="text-muted" href=""><i class="fa fa-file-text mr-2"
                                            aria-hidden="true"></i>Cras justo odio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <!-- <div class="d-flex flex-column justify-content-center  flex-md-row justify-content-md-around">
            <div class="my-2 text-center">
                <a class="btn explore">Forms & Certificates</a>
            </div>
            <div class="my-2 text-center">
                <a class="btn explore">Apply to BPS!</a>
            </div>
            <div class="my-2 text-center">
                <a class="btn explore">Explore Campus</a>
            </div>


        </div> -->



    </div>
    <div class="body-wrap">

        <footer style="background-image: url(./bg_footer.jpg);
        background-size: cover;
        background-position: center;">
            <div class="footer-bg">


                <div class="row mx-0">
                    <div style="z-index: 1;" class="social-icons col-md-4">
                        <h4 class="text-white text-center my-5">Stay Connected</h4>
                        <div class="d-flex justify-content-center">
                            <div>
                                <a href="https://www.facebook.com/Bhartipublicschooldelhi/"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/school/bharti-public-school---india/"><i
                                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/school/bharti-public-school---india/"><i
                                        class="fa fa-youtube" aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a href="https://www.instagram.com/bhartipublicschooldelhi/"><i class="fa fa-instagram"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                    <div style="z-index: 1;" class="col-md-4 text-center pt-4">
                        <div class=" p-3">

                            <img src="./logo.png" alt="">

                        </div>
                        <div class="footer-title my-5">
                            <!-- <h6><b> Bharti Public School</b></h6>
                            <h6>Swasthya Vihar</h6> -->
                            <p>Near, Metro Station, Vikas Marg, Nirman Vihar, <br>Swasthya Vihar, New Delhi 110092.</p>

                        </div>
                        <div class="d-flex justify-content-around  text-white mt-2">

                            <!-- <div class="footer-links"> -->
                            <!-- <div class="d-flex "> -->
                            <a style="min-width: 115px;" class=" btn btn-outline-light rounded-0" href="">Explore</a>
                            <a style="min-width: 115px;" class="btn btn-outline-light rounded-0" href="">Apply</a>
                            <a style="min-width: 115px;" class="btn btn-outline-light rounded-0" href="">Contact Us</a>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>

                    </div>

                    <div style="z-index: 1;" class="acredition col-md-4 text-center">
                        <h4 class="text-white my-5">Accreditation</h4>
                        <div class="d-flex justify-content-center">
                            <div style="width: 150px;">
                                <img width="100%" src="./accreditation/cbse-logo-png-3-1.png" alt="">
                            </div>
                            <div style="width: 150px;">
                                <img width="100%" src="./accreditation/Last Fold - Accreditation British council.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 mt-4">
                    <div style="z-index: 1"
                        class="w-100 pt-4 px-5 mx-0 ml-md-3 mr-md-5 d-flex flex-column flex-md-row justify-content-between">
                        <div style="flex:2;">
                            <ul style="list-style: none;" class="d-flex justify-content-around px-0">
                                <li><a class="text-white p-2" href="#">Directory</a></li>
                                <li style="border-right: 1px solid #fff;"></li>
                                <li><a class="text-white p-2" href="#">Site Map</a></li>
                                <li style="border-right: 1px solid #fff;"></li>
                                <li><a class="text-white p-2" href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div style="z-index: 1; flex: 5;" class="text-white mx-0">
                            <p class="text-md-right text-center mr-md-4">© 2020 Bharti Public School</p>
                        </div>

                    </div>
                </div>



            </div>
            <div class="mr-2 mb-2" style="display: inline;
            position: absolute;
            bottom: 0;
            z-index: 1;
            right: 0;">
                <a style=" cursor: pointer;" onclick="gotoTop()">
                    <div class="d-flex flex-column">
                        <i class="fa fa-angle-double-up fa-2x text-white mx-3"></i>
                        <span style="font-size: 10px;" class="text-white">Take me up</span>
                    </div>

                </a>

            </div>


        </footer>
    </div>

    <script>

    </script>
</body>

</html>