<%- include('shared/headermeta'); %>

<link rel="stylesheet" href="css/refined.css">
<link rel="stylesheet" href="css/topnavbar.css">
<link rel="stylesheet" href="css/dropdownhover.css">
<link rel="stylesheet" href="css/foldFooter.css">
<title>Bharti Public School</title>
<style>
    .header-underline h5:before {
        content: '';
        background: #56a0d3;
        width: 57px;
        height: 2px;
        position: absolute;
        bottom: 85px;
        transform: translateX(200%);
    }




    .jumbotron .overlay {
        position: absolute;
        top: 0.75rem;
        width: calc(100% - 1.5rem);
        height: 550px;
        background-color: rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(to top, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 23%) 10%, rgb(0 0 0 / 27%) 30%, rgb(0 0 0 / 50%) 70%, rgb(0 0 0 / 50%) 90%, rgb(0 0 0 / 52%) 100%);

    }

    @media screen and (max-width: 768px) {
        .jumbotron .overlay {
            width: 100%;

            top: 0;
        }
    }

    .faculty-overlay-1 {
        position: absolute;
        bottom: 1.5rem;
        background: var(--blue);
        background: var(--blue-transparent);
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        opacity: 1;
        transition: .5s ease;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: var(--blue);
        background: var(--blue-transparent);
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .faculty-card:hover .faculty-overlay-1 {
        opacity: 0;
    }

    .faculty-card:hover .overlay {
        opacity: 1;
    }

    .faculty-card {
        position: relative;
    }
</style>
</head>

<body>
    <%- include('shared/sidebar', { Menu: common.header_menu }); %>
    <%- include('shared/header', { Menu: common.header_menu }); %>
    <%- include('shared/stickyHeader', { Menu: common.header_menu }); %>
    <div class="body-wrap">
        <div id="top_fold"  style="background-image: url('<%= env + handler.mediaSelection(data.page_bg, quality) %>');
    background-size: cover;"
            class="jumbotron text-white custom-jumbotron d-flex justify-content-center align-items-end">
            <div class="overlay"></div>
            <h1 style="z-index: 1; font-size: 7vw; line-height: 20px;
       letter-spacing: 10px;">
                <%= handler.safeView(data, 'page_title') %>
            </h1>
        </div>
        <nav class="nav justify-content-center d-md-flex flex-row d-none py-2 bg-light">
            <% common.header_menu[4].submenu.forEach(function(item, index){ %>

            <a href="<%= item.menu_link %>" class="nav-link text-center p-1 m-1 <%= index == 0 ? "active" : "" %>">
                <%= item.sub_menu_item %>
            </a>
            <% }); %>
        </nav>
    </div>
    <div class="contain">
        <div class="my-5">
            <section class="my-5">
                <div class="u-line-center">
                    <h3 class="text-center f-40">
                        <%=  handler.safeView(data.fold2, 'title') %>
                    </h3>
                </div>

            </section>
        </div>
        <div class="my-3 px-0 px-md-3">
            <div class="text-justify f-18">
                <%- md.render(String( handler.safeView(data.fold2, 'text'))) -%>
            </div>

        </div>
        <div class="my-5">
            <ul class="nav faculty-tabs">
                <li class="nav-item p-3">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#lowerWing" role="tab"
                        aria-controls="home" aria-selected="true">Lower Wing</a>
                </li>
                <li class="nav-item p-3 ">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#MiddleWing" role="tab"
                        aria-controls="home" aria-selected="true">Middle wing</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link " id="home-tab" data-toggle="tab" href="#UpperWing" role="tab"
                        aria-controls="home" aria-selected="true">Upper Wing</a>
                </li>
                <li class="nav-item p-3 ">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="home"
                        aria-selected="true">Support Staff</a>
                </li>
            </ul>
            <div class="my-3">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="lowerWing" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="">
                            <div class="faculty-list">
                                <div class="row mx-0">
                                    <% data.lower_wing.forEach(element => { %>
                                    <%- include('elements/faculty-card', {element}); %>
                                    <% }) %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="MiddleWing" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <% data.middle_wing.forEach(element => { %>
                        <%- include('elements/faculty-card', {element}); %>
                        <% }) %>
                    </div>
                    <div class="tab-pane fade" id="UpperWing" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <% data.upper_wing.forEach(element => { %>
                        <%- include('elements/faculty-card', {element}); %>
                        <% }) %>
                    </div>
                    <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            <% data.staffs.forEach(element => { %>
                            <%- include('elements/faculty-card', {element}); %>
                            <% }) %>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <%- include('shared/footer', {footer: common.footer}); %>









    <script type="text/javascript">
        function openNav() {
            console.log("open sidenav");
            document.getElementById("mySidenav").style.width = "100%";
        }
        function gotoTop() {
            window.scroll({
                behavior: 'smooth',
                left: 0,
                top: 0
            });

        }


        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        function myFunction() {
            console.log(this);
            if (!$(this).hasClass("faq-vistited")) {
                $(this).addClass("custom-faq-font-focus")
                $(this).addClass("faq-vistited")
                $(this).removeClass("custom-faq-font")


            } else {
                $(this).addClass("custom-faq-font")
                $(this).removeClass("faq-vistited")
                $(this).removeClass("custom-faq-font-focus")
            }
        }
    </script>

    <script type="text/javascript">
        function myFunction() {
            console.log(this);
            if (!$(this).hasClass("faq-vistited")) {
                $(this).addClass("custom-faq-font-focus")
                $(this).addClass("faq-vistited")
                $(this).removeClass("custom-faq-font")


            } else {
                $(this).addClass("custom-faq-font")
                $(this).removeClass("faq-vistited")
                $(this).removeClass("custom-faq-font-focus")
            }
        }
    </script>
</body>

</html>