<html lang="en">

<%- include('shared/headermeta'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/refined.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/foldFooter.css">
<style>
    :root {
        --grey: #363E47;
        --blue: #28295d;
        --green: #62a25d;
        --yellow: rgb(255, 210, 29);
        --orange: #df682d;
    }

    .error {
        border: 2px solid red !important;
    }

    label.error {
        border: none !important;
        padding: 0.5rem;
        display: block;
        background: #FBE9E7;
    }

    .pic-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        /*animation*/

        animation: slideShow 24s linear infinite 0s;
        -o-animation: slideShow 24s linear infinite 0s;
        -moz-animation: slideShow 24s linear infinite 0s;
        -webkit-animation: slideShow 24s linear infinite 0s;
    }

    figurecaption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
    }

    .pic-1 {
        opacity: 1;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .pic-2 {
        animation-delay: 6s;
        -o-animation-delay: 6s;
        -moz--animation-delay: 6s;
        -webkit-animation-delay: 6s;
        background-position: center center;
        ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .pic-3 {
        animation-delay: 12s;
        -o-animation-delay: 12s;
        -moz--animation-delay: 12s;
        -webkit-animation-delay: 12s;
        background-position: center center;
        ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .pic-4 {
        animation-delay: 18s;
        -o-animation-delay: 18s;
        -moz--animation-delay: 18s;
        -webkit-animation-delay: 18s;
        background-position: center center;
        ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    /* keyframes*/

    @keyframes slideShow {
        0% {
            opacity: 0;
            transform: scale(1);
            -ms-transform: scale(1);
        }

        5% {
            opacity: 1
        }

        25% {
            opacity: 1;
        }

        30% {
            opacity: 0;
            transform: scale(1.1);
            -ms-transform: scale(1.1);
        }

        100% {
            opacity: 0;
            transform: scale(1);
            -ms-transformm: scale(1);
        }
    }

    @-o-keyframes slideShow {
        0% {
            opacity: 0;
            -o-transform: scale(1);
        }

        5% {
            opacity: 1
        }

        25% {
            opacity: 1;
        }

        30% {
            opacity: 0;
            -o-transform: scale(1.1);
        }

        100% {
            opacity: 0;
            -o-transformm: scale(1);
        }
    }

    @-moz-keyframes slideShow {
        0% {
            opacity: 0;
            -moz-transform: scale(1);
        }

        5% {
            opacity: 1
        }

        25% {
            opacity: 1;
        }

        30% {
            opacity: 0;
            -moz-transform: scale(1.1);
        }

        100% {
            opacity: 0;
            -moz-transformm: scale(1);
        }
    }

    @-webkit-keyframes slideShow {
        0% {
            opacity: 0;
            -webkit-transform: scale(1);
        }

        5% {
            opacity: 1
        }

        25% {
            opacity: 1;
        }

        30% {
            opacity: 0;
            -webkit-transform: scale(1.1);
        }

        100% {
            opacity: 0;
            -webkit-transformm: scale(1);
        }
    }

    .overlay {
        /* position: absolute;
            top: 0.75rem;
            width: calc(100% - 1.5rem);
            height: 550px; */
        /* background-color: rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(to top, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 23%) 10%, rgb(0 0 0 / 27%) 30%, rgb(0 0 0 / 50%) 70%, rgb(0 0 0 / 50%) 90%, rgb(0 0 0 / 52%) 100%); */

    }

    .group_btns .button a {
        padding: 0.75em 1em;
        text-decoration: none;
        line-height: 39px;
        transition: background 0.3s, color 0.3s;
        position: relative;
        display: block;
        /* color: #fff; */
        color: #000;
        border: 1px solid #000;
        font-size: 20px;
        line-height: 31px;
        max-height: 4rem;
        text-transform: uppercase;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        /* border: 1px solid rgba(255, 255, 255, 0.5); */
    }

    .group_btns .button {
        min-width: 16rem;

    }



    .body-wrap {
        overflow: hidden;
        position: relative;
        margin: 0;
    }

    @media screen and (min-width: 768px) {
        .body-wrap {
            margin: 0.75rem;
        }
    }

    /*  */
    .form-contact ul,
    ul {
        margin: 0px;
        padding: 0px;
    }

    .form_icon_svg {
        position: absolute;
        padding: 1.5rem 1rem;

    }

    .form-contact ul li input,
    .form-contact ul li select {
        width: 100%;
        border: 1px solid #818181;
        font-size: 16px;
        height: 58px;
        color: #818181;
        padding: 18px 10px 14px 60px;
        -webkit-appearance: none;
    }

    .form-contact ul li {
        flex: 1;
        min-width: 30%;
        margin: 1rem 1rem;
    }

    .social-icons li {
        padding: 1rem;
    }

    .social-icons li a {
        color: #818181;
    }

    @media screen and (max-width: 576px) {
        .form-contact ul li {
            flex: 1;
            min-width: -webkit-fit-content;
            min-width: -moz-fit-content;
            min-width: fit-content;
            margin: 1rem 1rem;
        }

    }

    #home_media {
        width: 100%;
        height: 96%;
        /* min-height: 400px; */
        object-fit: cover;
    }

    .social-icons a {
        padding: 1rem;
        border-radius: 50%;
        margin: 0 0.5rem;
        width: 50px;
        text-decoration: none;
        transition: background .3s, color .3s;
        position: relative;
        display: block;
        color: #fff;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        background: #343434;
        border: 1px solid rgba(27, 27, 27, 0.5);
    }

    .top-brand {
        position: fixed;
        height: 5rem;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.90);
        box-shadow: 0px -2px 30px #000;
    }

    .school-container .school img {
        width: 100%;
        overflow: hidden;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .school-container:hover .school img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .social-icons a {
        padding: 0.75rem;

        width: 40px;
    }

    .double-arrow-icon {
        position: absolute;
        bottom: 0;
        z-index: 1;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .bounce-up {
        animation: bounce-up 2s infinite;
    }

    @keyframes bounce-up {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        40% {
            transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
        }

        60% {
            transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
        }
    }
</style>
</head>

<body>
    <div class="w-100 top-brand">
        <div class="header-brand text-center py-1">
            <a href="/">
                <img style="max-height: 4rem;" class="img-fluid" height="100" alt=""
                    src="<%= env + handler.mediaSelection(data.logo, quality) %> ">
            </a>
        </div>
    </div>

    <div style="padding-top: 5rem;" class="h-100">
        <div class="pic-wrapper">

            <div class="fadeIn animated">
                <video loop autoplay playsinline id="home_media" width="100%" muted
                    poster="<%= env + handler.mediaSelection(handler.safeView(data,'video_poster'), 'small') %>"
                    src="<%= env + handler.safeView(data.page_bg, 'url') %>"></video>
            </div>
            <div class="double-arrow-icon py-5 my-5 ">
                <div class="bounce-up">
                    <a style="cursor: pointer;" onclick="gotoPos()">
                        <i class="fa fa-angle-double-down text-white fa-3x"></i>
                    </a>
                </div>

            </div>
            <!--   <figure
                style=" background-image: url(http://cdn.morguefile.com/imageData/public/files/k/Koan/06/p/ea989990a29bb73aa78db9f8322b5631.jpg) "
                class="pic-2"></figure>
            <figure
                style=" background-image: url(http://cdn.morguefile.com/imageData/public/files/t/TSmythe/06/p/74820906fce25071550b74b6773a0e19.jpg) "
                class="pic-3"></figure>
            <figure
                style=" background-image: url(http://cdn.morguefile.com/imageData/public/files/i/Isbiliani/05/p/8787b7ac34a8de4c4aad6fe8a5d7e925.jpg) "
                class="pic-4"></figure> -->
        </div>
        <div class="pic-wrapper overlay">
        </div>
        <div class="pic-wrapper">
            <div class="d-flex flex-column justify-content-around">

                <!-- <div class="my-5 text-center">
                    <h3 style="
                letter-spacing: 10px;" class="text-white f-30">
                      
                    </h3>
                </div> -->
                <div class="row mx-0">
                    <div class="col">
                        <!-- <div class="group_btns font-weight-bold f-julias-san d-flex justify-content-center flex-wrap">
                            <% data.home_buttons.forEach(element => { %>
                            <div>
                                <div class="btn btn-outline-success">
                                    <a href="<%= element.btn_href%>">
                                        <%= element.btn_name%>
                                    </a>
                                </div>
                            </div>
                            <% }) %>





                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="padding-top: 6rem;" id="fold_2" class="bg-light shadow-sm w-100">
        <div class="contain">
            <div class="my-5">
                <section class="text-center">
                    <h3>
                        <%= data.page_title%>
                    </h3>
                </section>
            </div>
            <div class="d-flex justify-content-center flex-column flex-md-row w-80">
                <div class="school-container">
                    <div style="overflow: hidden;" class="text-center school">
                        <a href="<%= data.home_buttons[0].btn_href%>">
                            <img class="img-fluid shadow" style="max-width: 70%;"
                                src="<%= env + handler.mediaSelection(data.img1, quality) %>" alt="">
                        </a>

                    </div>
                    <div class="my-5">
                        <div class=" font-weight-bold f-julias-san d-flex justify-content-center flex-wrap">
                            <div>
                                <div class="">
                                    <a style="min-width: 200px;" class="btn explore px-3 py-2"
                                        href="<%= data.home_buttons[0].btn_href%>">
                                        <%= data.home_buttons[0].btn_name%>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="z-index: 1;" class="social-icons my-4">
                        <div class="d-flex justify-content-center">
                            <div class="text-dark">
                                <a class="fb" href="<%= handler.safeView(data, 'fb_link1') %>"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a class="ln" href="<%= handler.safeView(data, 'ln_link1') %>"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a class="yt" href="<%= handler.safeView(data, 'yt_link1') %>"><i class="fa fa-youtube"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a class="in" href="<%= handler.safeView(data, 'in_link1') %>"><i
                                        class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="school-container">
                    <div style="overflow: hidden;" class="text-center school">
                        <a href="<%= data.home_buttons[1].btn_href%>">
                            <img class="img-fluid shadow" style="max-width: 70%;"
                                src="<%= env + handler.mediaSelection(data.img2, quality) %>" alt="">
                        </a>
                    </div>
                    <div class="my-5">
                        <div class="group_btns font-weight-bold f-julias-san d-flex justify-content-center flex-wrap">
                            <div>
                                <div class=" pr-0 pr-md-2">
                                    <a style="min-width: 200px;" class="btn explore px-3 py-2"
                                        href="<%= data.home_buttons[1].btn_href%>">
                                        <%= data.home_buttons[1].btn_name%>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="z-index: 1;" class="social-icons">
                        <div class="d-flex justify-content-center">
                            <div class="text-dark">
                                <a class="fb" href="<%= handler.safeView(data, 'fb_link2') %>"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a class="ln" href="<%= handler.safeView(data, 'ln_link2') %>"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a class="yt" href="<%= handler.safeView(data, 'yt_link2') %>"><i class="fa fa-youtube"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div>
                                <a class="in" href="<%= handler.safeView(data, 'in_link2') %>"><i
                                        class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="contain">
        <div class="text-center my-4">
            <h4 class=" fadeInUp animate">
                <%= data.form_title1%>

            </h4>
            <div class="my-4">
                <h3 class="fadeInUp animate">
                    <%= data.form_title2%>
                </h3>
            </div>
            <form id="contactForm" name="contactForm">
                <div class="form-contact fadeInUp animate" id="GetInForm">
                    <ul style="list-style: none;" class="d-flex flex-wrap justify-content-between">
                        <li class="d-flex flex-column mb-2">
                            <input type="text" id="studentName" name="studentName" placeholder="Student Name"
                                maxlength="35">

                            <div class="form_icon_svg">
                                <i class="fa fa-user-o" aria-hidden="true"></i>

                            </div>

                        </li>

                        <li class="d-flex flex-column mb-2">
                            <input type="text" id="email" name="email" placeholder="Email" maxlength="35">
                            <div class="form_icon_svg">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                        </li>

                        <li class="d-flex flex-column mb-2">
                            <input type="number" id="phone" name="phone" placeholder="Mobile" maxlength="10">
                            <div class="form_icon_svg p-3">
                                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                <!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
                            </div>
                        </li>

                        <li class="d-flex flex-column mb-2">
                            <input type="text" id="city" name="city" placeholder="City" class="input4" maxlength="35"
                                autocomplete="off">
                            <div class="form_icon_svg">
                                <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                            </div>
                        </li>

                        <li class="d-flex flex-column mb-2">
                            <select id="school" name="school" class="">
                                <option value="">Select School</option>
                                <% data.select_school.forEach((element, index) => { %>
                                <option value="<%= element.title %>">
                                    <%= element.title%>
                                </option>
                                <% }) %>

                            </select>

                            <div class="form_icon_svg">
                                <i class="fa fa-university fa-md" aria-hidden="true"></i>
                            </div>
                        </li>
                        <li class="d-flex flex-column">
                            <select id="std" name="std" class="">
                                <option value="">Select Grade</option>
                                <% data.select_grade.forEach((element, index) => { %>
                                <option value="<%= element.title %>">
                                    <%= element.title%>
                                </option>
                                <% }) %>
                            </select>
                            <div class="form_icon_svg">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>

                        </li>

                    </ul>
                    <div class="d-flex flex-column px-3 mt-2 mb-3">
                        <textarea class="w-100 p-4" rows="3" name="message" id="message"
                            placeholder="Enter your message here.."></textarea>
                    </div>
                    <div><button class="btn btn-outline-success rounded-0" type="submit" name='submit'
                            id="submit">Submit</button>
                        
                            <input id="resetForm" style="display: none;" type="button" 
                            value="reset() outside form" 
                            onclick="contactForm.reset();" /> 
                        </div>

                </div>
            </form>


        </div>


    </div>

    <div class="bg-light w-100 px-3 py-5">
        <div style="overflow: auto;" class="d-flex align-items-center flex-wrap justify-content-center flex-md-row">
            <% data.footer_icons.forEach(element => { %>
            <div style="min-width: 10%; max-width: 20%;" class="align-self-center m-4">
                <img class="img-fluid" style="max-height:107px;    display: block;
                margin: 0 auto;"
                    src="<%= env + handler.mediaSelection(element, quality) %>" alt="<%= element.alternativeText %> ">
            </div>
            <% }) %>
        </div>
        <hr>
        <div class="pt-4 px-4">
            <p class="m-0">Copyright 2020 © Bharti Public School. All rights reserved.</p>
        </div>
    </div>
    </div>


    <script>
        let scrollyArrow = document.getElementById('fold_2');
        function gotoPos() {
            window.scroll({
                behavior: 'smooth',
                left: 0,
                top: scrollyArrow.offsetTop
            });
        }

        $(function () {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='contactForm']").validate({

                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    studentName: "required",
                    city: "required",
                    school:
                    {
                        required: true,
                    },

                    std: {
                        required: true,
                    },

                    phone: "required",
                    message: "required",
                    email: {
                        required: true,
                        // Specify that email should be validated
                        // by the built-in "email" rule
                        email: true
                    },

                },
                // Specify validation error messages
                messages: {
                    studentName: "Please Enter your student Name",
                    phone: "Please Enter your Mobile Number",

                    email: "Please Enter a valid email address"
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    let data1 = {
                        sName: $('#studentName').val(),
                        city: $('#city').val(),
                        message: $('#message').val(),

                        std: $('#std').find(":selected").val(),
                        email: $('#email').val(),
                        school: $('#school').find(":selected").val(),

                        phone: $('#phone').val(),
                        formType: "contact"

                    }

                    Swal.fire({
                        title: 'Please Wait',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        background: '#fff',
                        showConfirmButton: false,
                        onOpen: () => {
                            Swal.showLoading();
                            $.post("/api/contact",
                                data1,
                                function (data, status) {
                                    // alert("Data: " + data.msg + "\nStatus: " + status);
                                    if (data && data.success) {
                                        Swal.fire({
                                            title: data.msg,
                                            icon: 'success',
                                            showConfirmButton: true,

                                        }).then(() => {
                                            $('#resetForm').click();
                                        })
                                    } else {
                                        Swal.fire({
                                            title: 'Error!',
                                            text: data.msg,
                                            icon: 'error',
                                            showConfirmButton: true,
                                        })
                                    }

                                });
                        }
                    })

                    // console.log("form", data1);
                    // form.submit();
                }
            });
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>